<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/public/styles.css">
    {% block head %}
        <title>Fitness</title>
    {% endblock %}
</head>
<body>
    <header>
        <div class="menu">
            <a href="/" class="ativo">Instrutores</a>
            <a href="/">Membros</a>
        </div>
    </header>

    {% block content %}{% endblock %}
    
</body>
</html>