 <div class="item">
      <div>Avatar url</div>
      <div>
          <input 
              type="url" 
              name="avatar_url"
              placeholder="http://"
              value="{{ instrutor.avatar_url }}">
      </div>
  </div>

  <div class="item">
      <div>Instrutor</div>
      <div>
          <input 
              type="text"
              name="nome"
              placeholder="Digite o nome do instrutor"
              value="{{ instrutor.nome }}">
      </div>
  </div>

  <div class="item">
      <div>Data de nascimento</div>
      <div>
          <input 
              type="date" 
              name="idade"
              value="{{ instrutor.idade }}">
      </div>
  </div>

  <div class="item">
      <div>Sexo</div>
      <div>
        <span>
          <input type="radio" 
          name="genero" 
          value="M" 
          {% if instrutor.genero == "M" %}
          checked
          {% endif %}>Masculino
        </span>
        <span>
          <input type="radio" 
          name="genero" 
          value="F"
          {% if instrutor.genero == "F" %}
          checked
          {% endif %}>Feminino
        </span>
          
      </div>
  </div>

  <div class="item">
      <div>Área de atuação</div>
      <div>
          <input 
              type="text" 
              name="funcao"
              placeholder="Separe os serviços prestados por vírgula"
              value="{{ instrutor.funcao }}">
      </div>
  </div>
  
  <button type="submit">Salvar</button>